.sideContainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  .blackpane {
    height: 100svh;
    background-color: #1c1d22;
    padding: 10px;
    img {
      display: block;
      margin: 30px 20px;
    }
  }
  .whitepane {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 300px;

    .whitepane-heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
      .plus{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #eeeeee;
      }
    }
    .drop{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0px;
      cursor: pointer;
      .arrow{
        font-weight: bolder;
        font-size: 30px;
      }
      .droptext{
        color:rgba(28, 29, 34, 0.5);
        font-weight: 700;
        font-size: 16px;
      }
    }
    .listStyle{
      display: flex;
      align-items: end;
      img{
        height: 129px;
      }
      ul{
        li{
          padding-left: 10px;
        }
        .fourth{
          padding-bottom: 5px;
          
        }
        .third{
          padding-bottom: 15px;
        }
        .second{
          padding-bottom: 15px;
        }
        .first{
          padding-bottom: 15px;
        }
      }
    }
    
    
  }
}
