.dark-mode-container {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
   
    &.dark {
       background-color: #1a1a1a;
       color: #ffffff;
    }
   }